# Assignment Day 2 | 9th December 2020

In [3]:
#1 Try 5 Different functions of the String in Python.

'''split()
sort()
input
len()
std()'''

Hi = "How are you"
x = Hi.split()
print(x)

['How', 'are', 'you']

In [19]:
vowles = ['a','i','e','u','o']

vowles.sort()
print(vowles)

['a', 'e', 'i', 'o', 'u']

In [24]:
Name = input(str("What's your name: "))
print("Hello, Nice to meet you " + Name + "!")

What's your name: James
Hello, Nice to meet you James!

In [25]:
string = "Hello, Nice to meet you James!"
len(string)

30

In [32]:
import numpy
Data = [113.2,119.5,121,132.3,118.5,113,135]
ans = numpy.std(Data)
print("Data: ", ans)
print()
import numpy
Data = [113.2,119.5,121,132.3,118.5,113,135]
ans = numpy.var(Data)
print("Answer:", ans)

Data:  8.041930928652926

Answer: 64.67265306122452

In [56]:
# Try 5 Different functions of the List object in Python

cars = ['Ferrari', 'Lamborghini', 'Rolls Royce', 'BMW', 'MercedesBenz', 'Porsche']
cars

['Ferrari', 'Lamborghini', 'Rolls Royce', 'BMW', 'MercedesBenz', 'Porsche']

In [55]:
cars[5]

'Jaguar'

In [57]:
cars.insert(2, 'Jaguar')
cars

['Ferrari',
 'Lamborghini',
 'Jaguar',
 'Rolls Royce',
 'BMW',
 'MercedesBenz',
 'Porsche']

In [45]:
cars.insert(2, 'Jaguar')
cars

['Jaguar', 'Jaguar']

In [58]:
cars.pop(3)
cars

['Ferrari', 'Lamborghini', 'Jaguar', 'BMW', 'MercedesBenz', 'Porsche']

In [61]:
cars.reverse()
cars

['Porsche', 'MercedesBenz', 'BMW', 'Jaguar', 'Lamborghini', 'Ferrari']

In [62]:
cars.clear()
cars

[]

In [65]:
#3 Experiment with at least 5 default functions of Dictionary

dict1 = {'Porsche': 'German', 'MercedesBenz': 'German', 'BMW': 'German'}
dict2 = {'Jaguar': 'UK', 'Lamborghini': 'Italian' , 'Ferrari': 'Italy' }

type(dict1)

dict

In [66]:
dict1.update(dict2)
print(dict1)

{'Porsche': 'German', 'MercedesBenz': 'German', 'BMW': 'German', 'Jaguar': 'UK', 'Lamborghini': 'Italian', 'Ferrari': 'Italy'}

In [71]:
dict = dict1.items()
dict

dict_items([('Porsche', 'German'), ('MercedesBenz', 'German'), ('BMW', 'German'), ('Jaguar', 'UK'), ('Lamborghini', 'Italian'), ('Ferrari', 'Italy')])

In [73]:
car = dict1.copy()
car

{'Porsche': 'German',
 'MercedesBenz': 'German',
 'BMW': 'German',
 'Jaguar': 'UK',
 'Lamborghini': 'Italian',
 'Ferrari': 'Italy'}

In [76]:
dict1.get('Jaguar')

'UK'

In [80]:
dict1.values()

dict_values(['German', 'German', 'German', 'UK', 'Italian', 'Italy'])